.idea
.DS_Store
vendor
dist
rport
!cmd/rport
rport.exe
rportd
!cmd/rportd
rportd.exe
deploy.sh

# air
.air.toml
tmp/

# Vuepress
.vuepress/.cache
.vuepress/.temp

# dependencies
node_modules

# hugo
docs/public
docs/.hugo_build.lock

# Yarn logs
yarn-debug.log*
yarn-error.log*

# Ignore local configs
rport-*.conf
rportd-*.conf
rport.conf
rportd.conf
