#
# Rport (client) systemd service shipped with deb/rpm package.
#
[Unit]
Description=Create reverse tunnels with ease.
ConditionFileIsExecutable=/usr/bin/rport
StartLimitIntervalSec=5
StartLimitBurst=10
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/rport "-c" "/etc/rport/rport.conf"
User=rport
Restart=always
RestartSec=120
EnvironmentFile=-/etc/sysconfig/rport

[Install]
WantedBy=multi-user.target
