.ga-consent {
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: .7rem 1rem;
  background: var(--c-bg-light);
  border: 1px solid var(--c-border);
  max-height: 0;
  transition: all .45s ease-in-out;

  &--show {
    max-height: 100%;
    bottom: 0;
  }

  @media (min-width: $MQMobileNarrow) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $MQNarrow) {
    justify-content: flex-start;
    padding: 1rem 1.5rem;
    width: 30rem;
    left: 10px;
    box-shadow: $shadowLarge;

    &--show {
      bottom: 10px;
    }
  }

  p {
    margin-top: 0;
    font-size: .8rem;

    @media (min-width: $MQMobileNarrow) {
      margin-bottom: 0;
      margin-right: 1.5rem;
    }

    @media (min-width: $MQNarrow) {
      font-size: .85rem;
    }
  }

  .button {
    display: inline-block;
    font-size: .9rem;
    font-weight: 700;
    padding: 0.3rem 1.6rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: $MQNarrow) {
      padding: 0.5rem 1.6rem;
    }

    & + .button {
      margin-left: 1.5rem;
    }

    &.primary {
      color: var(--c-bg);
      background-color: var(--c-brand);
      border-color: var(--c-brand);
      &:hover {
        background-color: var(--c-brand-light);
      }
    }

    &.secondary {
      color: var(--c-brand);
      background-color: var(--c-bg);
      border-color: var(--c-brand);
      &:hover {
        color: var(--c-bg);
        background-color: var(--c-brand-light);
      }
    }
  }
}

