/**
 * Custom Styles
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;800&family=Roboto:wght@400;500;700&display=swap');

@import "variables";
@import "typography";
@import "home";
@import "navbar";
@import "misc";
