// colors
$accentColor: #0075ec;
$textColor: #1b1b19;
//$borderColor: #eaecef !default;
//$codeBgColor: #282c34 !default;
//$arrowBgColor: #ccc !default;
//$tipColor: #42b983 !default;
//$warningColor: #e7c000 !default;
//$dangerColor: #cc0000 !default;
//$badgeTipColor: $tipColor !default;
//$badgeWarningColor: $warningColor !default;
//$badgeDangerColor: $dangerColor !default;

// layout
$navbarHeight: 4.2rem;
//$sidebarWidth: 20rem !default;
//$contentWidth: 740px !default;
$homePageWidth: 100%;

// responsive breakpoints
//$MQNarrow: 959px !default;
//$MQMobile: 719px !default;
//$MQMobileNarrow: 419px !default;

// code
//$lineNumbersWrapperWidth: 3.5rem !default;
//$codeLang: 'c' 'cpp' 'cs' 'css' 'dart' 'docker' 'fs' 'go' 'html' 'java' 'js'
//'json' 'kt' 'less' 'makefile' 'md' 'php' 'py' 'rb' 'rs' 'sass' 'scss' 'sh'
//'styl' 'ts' 'toml' 'vue' 'yml' !default;