// Customizable SASS variables of Vuepress default theme
// See https://vuepress2.netlify.app/reference/default-theme/styles.html#palette-file

// responsive breakpoints
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;
