<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Language="1033" Manufacturer="RealVNC" Name="RPort" Version="1.0.0.0" ProductCode="DD475EBC-D960-4AF4-BB8A-BE91FA942756"><MediaTemplate EmbedCab="yes" />
    <Feature Id="RPortClientFeature">
      <ComponentRef Id="ProductComponent" />
    </Feature>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="RPort Client">
          <Component Id="ProductComponent">
            <File Id="FileToInstall.txt" KeyPath="yes" Source="FileToInstall.txt"></File>
          </Component>
        </Directory>
      </StandardDirectory>
    </Package>
</Wix>