name: Test Client Windows
on: [push]
jobs:
  test:
    name: Test Client Windows
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Test
        run: go test -race -v ./client/...
      - name: BDD
        run: go test -race -v ./bdd/...
